@media(max-width: 1300px){
  .product__more{
    margin-top: 60px;
  }
}

@media(max-width: 1200px){
 .banner-section__slider-img{
   min-height: 380px;
   max-width: 600px;
 }
 .banner-section__inner{
   justify-content: space-around;
 }
 .banner-section__slider{
   max-width: 600px;
 }
 .sale-item__footer{
  padding: 25px 20px;
 }
 .categories__inner{
  justify-content: space-around;
 }
 .banner__link img{
  width: 100%;
 }
 .catalog__inner-list{
   justify-content: space-around;
 }
}


@media(max-width: 1100px){
  .menu__item+.menu__item{
    padding-left: 20px;
  }
  .header__adress{
    margin-right: 20px;
  }
  .card__input-search{
    margin-right: 0;
  }
}

@media(max-width: 968px){
  .header__bottom{
    display: none;
  }
  .menu__list{
    display: none;
  }
  .menu__btn{
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
  }
  .menu__btn-line{
    background: #2F3035;
    border-radius: 3px;
    height: 3px;
    width: 34px;
    margin: 8px 0;
  }
  .menu__mobile-linewrapper{
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    color: #2F3035;
    background-color: #F0F0F4;
    overflow-x: scroll; //делаем скрол для мобильной менюхи
  }
  .menu__mobile-line{
    padding: 14px 0 14px 15px;
    width: 450px;
  }
  .banner-section__inner{
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .banner-section__slider{
    max-width: 100%;
  }
  .banner-section__slider-item{
    text-align: center;
  }
  .banner-section__slider-img{
    max-width: 100%;
    margin-bottom: 25px;
  }
  .mobile-overflow{ 
    width: 1000px;
  }
  .tabs-wrapper,
  .breadcrumbs__inner,
  .catalog__filter-iemsinner{
    overflow-x: scroll;
  }
  .tabs-wrapper.tabs-wrapper--no-scroll{
    overflow: hidden;
  }
  .catalog__filter-btn button{
    display: none;
  }
  .catalog__filter-btn{
    margin-top: 30px;
  }
  .catalog__filter{
    display: block;
  }
  .product-card__inner{
    flex-wrap: wrap;
  }
  .product-card__tabs{
    display: none;
  }
  .product-card__content{
    order: -1;
  }
  .product-card__btn-mobile{
    display: block;
    margin-top: 40px;
  }
  .product-card__img-box{
    width: 100%;
  } 
  .card__top-line label{
    display: block;
    width: 100%;
    margin-bottom: 25px;
    margin-left: 0;
  }
  .card__list-item{
    display: block;
  }
  .card__list-item div{
    margin-bottom: 15px;
  }
  .card__list-itemtitle{
    display: none;
  }
  .card__list{
    display: flex;
  }
  .card__list-address{
    width:100%;
    height:40px;
    max-width: 219px;
  }
  .card__list{
    overflow-x: scroll;
  }
} 


@media(max-width: 880px){
  .footer__top-item{
    width: 100%;
    flex-direction: column;
  }
  .footer__top-inner{
    justify-content: start;
    flex-direction: column;
  }
  .footer__bottom{
    flex-direction: column;
    align-items: start;
  }
  .footer__top-newslatter.footer__top-item{
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .footer__top-social.footer__top-item{
    margin-top: 40px;
    width: 100%;
    border-bottom: none;
  }
  .footer-form{
   margin-bottom: 40px;
  }
  .social-list{
    justify-content: center;
  }
  .footer__bottom-link{
    margin: 12px 0;
  }
  .footer-list{
    display: none;
  }
  .footer__top-title.footer__topdrop{
    font-size: 14px;
    line-height: 18px;
    color: #7F7F7F;
    font-weight: 500;
    padding: 15px 0;
  }
  .footer-list__item-line{
    border-bottom: 2px solid #757575;
  }
  .footer__top-itemdrop{
    border-top: 2px solid #757575;
    margin-bottom: 0;
  }
  .footer__topdrop{
    position: relative;
  }
  .footer__topdrop::after{
    content: '';
    position: absolute;
    background-image: url("../images/arrow-down.svg");
    right: 0;
    top: 21px;
    width: 12px;
    height: 8px;
  }
  .footer__topdrop--active::after{
    transform: rotate(180deg);
  }
  .products .product-slider__item{
    display: flex !important;
    justify-content: center !important;
  }
  .footer__topdrop{
    pointer-events: auto //вкл скрипты js
  }
}

@media(max-width: 860px){
  
}

@media(max-width: 760px){
  .mobile-overflow{ 
    width: 1000px;
  }
  .tabs-wrapper{
    overflow-x: scroll;
  }
}

@media(max-width: 640px){
  .header__adress{
    display: none;
  }
  .banner-section__slider-img{
    min-height: 200px;
  }
  .banner-section .container{
    padding: 0;
  }
  .search__content-btn{
    font-size: 0;
    line-height: 0;
    padding: 17px;
    background-image: url('../images/search.svg');
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    right: 8px;
    top: 13px;
  }
  .search__content-input{
    height: 50px;
    padding-right: 50px;
  }
  .search__content-form{
    position: relative ;
  }
  .banner__link img{
    min-height: 90px;
    object-fit: contain;
  }
  .catalog__inner{
    flex-wrap: wrap;
  }
  .aside__btn{
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
    color: white;
    background-color: #1C62CD;
    margin-bottom: 30px;
    width: 100%;
  }
  .aside__filter{
    display: none;
  }
  .product-card__title{
    font-size: 20px;
    line-height: 24px;
  }
  .product-card__img{
    width: 100%;
  }
  .menu-mobile__link{
    padding-top: 24px;
  }
}

@media(max-width: 440px){
  .banner-section__slider-img{
    min-height: 164px;
  }
  .categories__item{
    padding: 20px 10px 16px;
  }
  .pagination-list__item{
    margin: 0;
  }
  .product-card__buttons a + a{
    margin-left: 0;
  }
  .banner{
    display: none;
  }
  .banner__min{
    display: block;
  }
  .banner__min{
    margin-bottom: 60px;
  }
  .banner__min-wrapper{
    object-fit: cover;
    max-width: 440px;
    height: 120px;
    position: relative;
  }
  .banner__min img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
  }
  .menu-mobile__link{
    padding-top: 22px;
  }
 
}

@media(max-width:390px){
  .card__label-search{
    text-align: center;
  }
  .card__input-search{
    margin-left: 0;
  }
}